<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 시작  ~~~~~~~~~~~~~~~~~~~~~~ -->
	<mapper namespace="boardSQL">
	<!-- 샘플입니다. -->
    <select id="boardCount" resultType="java.lang.Integer">
        SELECT count(*) FROM board_qna
    </select>
	
<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 끝  ~~~~~~~~~~~~~~~~~~~~~~ -->
	
   
   <!-- ======================== 풍혁 : 시작  ============================= -->
		<!-- 풍혁(220703) : list 전체를 불러오는 sql 입니다. -->
	   	<select id="getBoardUserWriteList" resultType="BoardDto">
	   		SELECT * FROM board_qna
	   	</select>
	   	
	   	<select id="getTotalBoardNum" resultType="java.lang.Integer">
	   		SELECT count(*) FROM board_qna
	   	</select>
	   	
	   	<!-- 풍혁(220703) :  -->
	   	<select id="getBoardRangeOrderByTime" parameterType="java.util.Map" resultType="BoardDto">
	   		SELECT * FROM (
	   			SELECT ROWNUM AS RN, TT.* FROM (
	 				SELECT * FROM board_qna ORDER BY BOARD_DATE_CREATED DESC)TT
			) WHERE RN &gt;=${startNum} AND RN &lt;=${endNum}
	   	</select>
	   	
	   	<insert id="boardWrite" parameterType="boardDTO">
	      INSERT INTO board_qna
	            (board_id, board_uid, board_cateid, board_title, board_content, bqna_date_created)
	        VALUES
	            (BOARD_QNA_SEQ.nextval,#{board_uid}, #{board_cateid}, #{board_title}, #{board_content},sysdate)
    	</insert>
	<!-- ======================== 풍혁 : 끝 ============================= -->

	
	<!--  ###################### 정수 : 시작  ###################### -->
	<!-- 글 보기 -->
		<select id = "getBoardContent" parameterType = "java.lang.Integer" resultType = "BoardDTO"> 
			select * from board_review where board_id = ${board_id}
		</select>
		
		<select id="getBoardCount" resultType="java.lang.Integer">
			select count(*) from board_review
		</select>
		
		<!--  조회수 증가처리
		<update id = "setView_cnt" parameterType = "int">
			update board_review set board_view_cnt = board_view_cnt +1 where board_id = #{board_id}
		</update> -->
	<!-- ####################### 정수 : 끝  ###################### -->
	

</mapper>