<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 시작  ~~~~~~~~~~~~~~~~~~~~~~ -->
	<mapper namespace="boardSQL">
	<!-- 샘플입니다. -->
    <select id="boardCount" resultType="java.lang.Integer">
        SELECT count(*) FROM board_qna
    </select>
	
<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 끝  ~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- **중요** 풍혁 : list 와 view의 통일을 위해 일단 table board_review로 통일 -->
   	<!-- **중요** ; 주의, # $ 구분주의 -->
   <!-- ======================== 풍혁 : 시작  ============================= -->
		<!-- 풍혁(220703) : list 전체를 불러오는 sql 입니다. -->
	   	<select id="getBoardUserWriteList" resultType="BoardDTO">
	   		SELECT * FROM board_review
	   	</select>
	   	
	   	<select id="getTotalBoardNum" resultType="java.lang.Integer">
	   		SELECT count(*) FROM board_review
	   	</select>
	   	
	   	<select id="getTotalBoardSearchNum" parameterType="java.lang.String" resultType="java.lang.Integer">
	   		SELECT COUNT(*) FROM BOARD_REVIEW 
    			WHERE BOARD_TITLE LIKE '%'||#{keyword}||'%'
   				OR BOARD_CONTENT LIKE '%'||#{keyword}||'%'
	   	</select>
	   	
	   	
	   	<!-- 풍혁(220713) :  -->
	   	<select id="getBoardRangeOrder" parameterType="java.util.Map" resultType="BoardDTO">
	   		SELECT * FROM (
	   			SELECT ROWNUM AS RN, TT.* FROM (
	 				SELECT * FROM board_review 
	 				<if test="sortOption == 'date'">
	 				ORDER BY BOARD_DATE_CREATED DESC
 					</if>
	 				
	 				<if test="sortOption == 'vote'">
	 				ORDER BY BOARD_VOTE_CNT DESC
 					</if>
 					
	 				<if test="sortOption == 'view'">
	 				ORDER BY BOARD_VIEW_CNT DESC
 					</if>
 				)TT
			) WHERE RN &gt;=${startNum} AND RN &lt;=${endNum}
	   	</select>
	   	
	   	<!-- 풍혁(220703) :  -->
	   	<select id="getBoardRangeOrderByTime" parameterType="java.util.Map" resultType="BoardDTO">
	   		SELECT * FROM (
	   			SELECT ROWNUM AS RN, TT.* FROM (
	 				SELECT * FROM board_review ORDER BY BOARD_DATE_CREATED DESC)TT
			) WHERE RN &gt;=${startNum} AND RN &lt;=${endNum}
	   	</select>
	   	
	   	<!-- 풍혁(220707) : 일단 title이나 내용으로 검색하는 SQL입니다. 최신순정렬 -->
    	<select id="getBoardSearchRangeOrderByTime" parameterType="java.util.Map" resultType="BoardDTO">
	    	SELECT * FROM (	
	    		SELECT ROWNUM AS RN, TT.* FROM (SELECT * FROM BOARD_REVIEW 
	    			WHERE BOARD_TITLE LIKE '%'||#{keyword}||'%'
	    				OR BOARD_CONTENT LIKE '%'||#{keyword}||'%'
	    				ORDER BY BOARD_DATE_CREATED DESC
	 			)TT
 			) WHERE RN &gt;=${startNum} AND RN &lt;=${endNum}
    	</select>
    	
    	<insert id="boardWrite" parameterType="BoardDTO">
	      INSERT INTO board_review
	            (board_id, board_uid, board_cateid, board_title, board_content, board_date_created)
	        VALUES
	            (BOARD_QNA_SEQ.nextval,#{board_uid}, #{board_cateid}, #{board_title}, #{board_content},sysdate)
    	</insert>
    	
    
	<!-- ======================== 풍혁 : 끝 ============================= -->
	
	<!--  ###################### 정수 : 시작  ###################### -->
	<!-- 글 보기 -->
		<select id = "getBoardContent" parameterType = "java.lang.Integer" resultType = "BoardDTO"> 
			select * from board_review where board_id = ${board_id}
		</select>
		
		<!-- <select id="getBoardCount" resultType="int">
			select count(*) from board_review
		</select> -->
		
		<!-- 조회수 증가처리 -->
		<update id = "setHit" parameterType = "int">
			update board_review set board_view_cnt = board_view_cnt +1 where board_id = #{board_id} 
		</update>
		
		<!-- 추천수 체크 (중복방지) -->
		<select id = "recommendCheck" parameterType = "java.util.Map" resultType= "int">
			select count(*) from vote where vote_bid = ${vote_bid} and vote_uid = ${vote_uid}
		</select>
		
		<!-- 추천수 증가 (board_review 에 증가시켜 view에서 보여줌)-->
		<!-- #: String(" ") / $:not String(" "없음) -->
		<update id = "increaseRecommend" parameterType = "java.util.Map">
			update board_review set board_vote_cnt=board_vote_cnt+1 where board_id = ${vote_bid} 
		</update>
		
		<!-- 추천 정보 추가 (vote테이블에 추가) -->
		<insert id="addVote" parameterType="java.util.Map">
			insert into vote values(vote_seq.nextval, ${vote_uid}, 1, ${vote_bid})
		</insert>
			
		<!-- 추천수 취소 (board_review에서 삭제)-->
		<update id = "recommendCancel" parameterType = "int">
			update board_review set board_vote_cnt = board_vote_cnt-1 where board_id = ${vote_bid}
		</update>
		
		<!-- 추천 정보 삭제 (vote 에서 삭제)-->
		<update id="deleteVote" parameterType="java.util.Map">
			delete from vote where vote_uid = ${vote_uid} and vote_bid = ${vote_bid} and vote_cateid = ${vote_cateid}
		</update>
		
		<!-- 글 수정 폼 (원래 글 dto 가져오기)  -->
		<select id="boardEditForm" parameterType = "int" resultType = "BoardDTO">
			select * from board_review where board_id = ${board_id}
		</select>
		
		<!-- 글 수정한 dto(수정한 dto넣기) -->
		<insert id="boardEdit" parameterType="BoardDTO">
			INSERT INTO board_review
	            (board_id, board_uid, board_cateid, board_title, board_content, board_date_created)
	        VALUES
	            (BOARD_QNA_SEQ.nextval,#{board_uid}, #{board_cateid}, #{board_title}, #{board_content},sysdate)
		</insert>
		
		<!-- 글 삭제 -->
		<delete id="boardDelete" parameterType="int">
			delete from board_review where board_id = ${board_id}
		</delete>
		
	<!-- ####################### 정수 : 끝  ###################### -->
</mapper>