<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commentSQL">

<!-- #################### 정수 시작 ########################## -->
	<insert id = "writeCommentContent" parameterType="CommentDTO"> 
		INSERT INTO COMMENT VALUES(
							COMMENT2_SEQ.nextval, 
							#{cmt_id},
							#{cmt_uid},
							#{cmt_cateid},
							#{cmt_bid},
							#{cmt_cotent},
							sysdate)
	</insert>
	
	<select id = "getCommentDTO" parameterType="int" resultType="CommentDTO"> 
		SELECT * FROM COMMENT WHERE CMT_BID = #{CMT_BID}
	</select>
<!-- #################### 정수 끝 ########################## -->

<!-- ======================== 풍혁 시작 ======================== -->
	<insert id="write">
		INSERT INTO COMMENT2 VALUES(
								COMMENT2_SEQ.nextval,
								#{cmt_uid},
								#{cmt_cateid},
								#{cmt_bid},
								#{cmt_content},
								sysdate
								)
	</insert>
	
	<select id="getCommentListByBoardId" parameterType="java.lang.String" resultType="CommentDTO">
		SELECT * FROM COMMENT2 WHERE cmt_bid = ${cmt_bid}
	</select>
	
	<update id="increaseCommentCount" parameterType="java.lang.Integer">
		UPDATE board_review
		SET board_cmt_cnt = board_cmt_cnt + 1
		WHERE board_id = ${cmt_bid} 
	</update>
	
	<update id="decreaseCommentCount" parameterType="java.lang.Integer">
		UPDATE board_review
		SET board_cmt_cnt = board_cmt_cnt - 1
		WHERE board_id = ${cmt_bid} 
	</update>
	
	
	<select id="getCommentContentById" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT cmt_content FROM comment2
		WHERE cmt_id = ${cmt_id}
	</select>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE comment2
		SET
		cmt_content = #{cmt_content}
		WHERE
		cmt_id = ${cmt_id}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from comment2 where cmt_id = ${cmt_id} 
	</delete>
<!-- ======================== 풍혁 끝 ======================== -->	

<insert id="commentClassWrite">
		INSERT INTO COMMENT2 (cmt_id
							  ,cmt_uid
							  ,cmt_cateid		
							  ,cmt_bid
							  ,cmt_content
							  ,cmt_date_created)
		VALUES(COMMENT2_SEQ.nextval,
				#{cmt_uid},
				5,
				#{cmt_bid},
				#{cmt_content},
				sysdate)
	</insert>
	
	<select id="getClassCommentListByBoardId" parameterType="java.lang.String" resultType="CommentDTO">
		SELECT * FROM COMMENT2 WHERE cmt_bid = ${cmt_bid}
	</select>
	
	
	<select id="getClassCommentContentById" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT cmt_content FROM comment2
		WHERE cmt_id = ${cmt_id}
	</select>
	
	<update id="commentClassUpdate" parameterType="java.util.Map">
		UPDATE comment2
		SET
		cmt_content = #{cmt_content}
		WHERE
		cmt_id = ${cmt_id}
	</update>
	
	<delete id="commentClassDelete" parameterType="java.lang.Integer">
		delete from comment2 where cmt_id = ${cmt_id} 
	</delete>
</mapper>