<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commentSQL">

	<insert id = "writeCommentContent" parameterType="CommentDTO"> 
		INSERT INTO COMMENT (cmt_id, cmt_uid, cmt_cateid, cmt_bid, cmt_cotent, cmt_date_created) 
							VALUES(
							COMMENT_SEQ.nextval, 
							#{cmt_id},
							#{cmt_uid},
							#{cmt_cateid},
							#{cmt_bid},
							#{cmt_cotent},
							sysdate )
	</insert>
	
	<select id = "getCommentDTO" parameterType="int" resultType="CommentDTO"> 
		SELECT * FROM COMMENT WHERE CMT_BID = #{CMT_BID}
	</select>
</mapper>