<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userSQL">


	<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 시작  ~~~~~~~~~~~~~~~~~~~~~~ -->
		
	<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 끝  ~~~~~~~~~~~~~~~~~~~~~~ -->
	
   
  	 <!-- ======================== 연수: 시작(220706)  ============================= -->
   <!-- 회원정보 수정 시작  -->
 	<!-- 회원정보 수정  : 정보 가져오기-->   	
	<select id="getUser"  parameterType="String" resultType="UserAllDTO">
        SELECT * FROM user2 where user_email= #{user_email}
    </select>
    
    <!-- 회원정보 수정: 수정하기 --> 
    <update id="update" parameterType="UserDTO">
  		update user2 set user_name = #{user_name}
  						, user_nickname = #{user_nickname}
  		  			    , user_email = #{user_email}
  		  			    , user_img = #{user_img}
  		  			    where user_email = #{user_email}
  	</update>  
  	
     <!-- 비밀번호 수정: 비밀번호 일치 여부 확인 - 회원정보 불러오기 -->   	
	<select id="checkPwd" parameterType="String" resultType="UserDTO">
        SELECT * FROM user2 where user_email= #{user_email}
    </select>
    
    <!-- 회원정보 수정: 비밀번호 수정하기 --> 
  	<update id="pwdChangeComplete" parameterType="java.util.Map">
  		update user2 set user_pwd = #{user_pwd} where user_email= #{user_email}
  	</update> 
    <!-- 회원정보 수정 끝  -->
    
    <!-- 회원탈퇴 -->
     <delete id="delete" parameterType="String">
         delete user2 where user_email = #{user_email}
     </delete>
	<!-- ======================== 연수 : 끝(220706) ============================= -->

	
	<!--  ###################### 유진 : 시작  0706###################### -->
	<insert id="user_register" parameterType="UserAllDTO">
		begin
	  		insert into user2(user_id
	  						,user_email
	  						,user_pwd
	  						,user_nickname
	  						,user_name
	  						,user_img
	  						,user_logtime) 
	  		values(user2_SEQ.nextval
	  			,#{user_email}
	  			,#{user_pwd}
	  			,#{user_nickname}
	  			,#{user_name}
	  			,#{user_img}
	  			,sysdate);
	  		
	  		insert into class(class_id
	  						, class_class
	  						, class_academy)
	  		values (CLASS_SEQ.nextval
	  				, #{class_class}
	  				, #{class_academy});
	  	end;
  		
  	</insert>

  	<select id="userSignup_emailCheck" parameterType="String" resultType="UserAllDTO">
  		select * from user2 where user_email=#{user_email}
  	</select>
	<!-- ####################### 유진 : 끝  0706###################### -->

	<!--  @@@@@@@@@@@@@@ 기진 : 시작  @@@@@@@@@@@@@@-->
	
		<!-- 로그인 -->
	<select id="checkIdPw" parameterType="java.util.Map" resultType="UserDto">
		select * from user2 where user_email=#{username} and user_pwd=#{password}
	</select>
	
	
	
	<!-- @@@@@@@@@@@@@@ 기진 : 끝  @@@@@@@@@@@@@@ -->
	

</mapper>