<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userSQL">


	<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 시작  ~~~~~~~~~~~~~~~~~~~~~~ -->
		
	<!-- ~~~~~~~~~~~~~~~~~~~~~~ 공통 : 끝  ~~~~~~~~~~~~~~~~~~~~~~ -->
	
   
  	 <!-- ======================== 연수: 시작(220706)  ============================= -->
   <!-- 회원정보 수정 시작  -->
 	<!-- 회원정보 수정  : 정보 가져오기-->   	
	<select id="getUser" parameterType="String" resultType="UserAllDTO">
        select * from user2 where user_email=#{user_email}
    </select>
    
	<!-- //@@@@@@@@@@@@  연수 회원정보 수정창 전면수정(220710) @@@@@@@@@@@@ -->
    <!-- 회원정보 수정: 닉네임 중복체크 -->
    <select id="userUpdate_nicknameCheck" parameterType="String" resultType="UserAllDTO">
  		select * from user2 where user_nickname=#{user_nickname}
  	</select>
  	
  	 <!-- 회원정보 수정: 이메일 중복체크 -->
    <select id="userUpdate_emailCheck" parameterType="String" resultType="UserAllDTO">
  		select * from user2 where user_email=#{user_email}
  	</select>
  	
  	<!-- 회원정보 수정: 프로필 사진 수정 -->
    <update id="update_userImg" parameterType="UserAllDTO">
  		update user2 set user_img = #{user_img}, user_logtime = sysdate where user_email = #{user_email}	  			    
  	</update>  	
    
    <!-- 회원정보 수정: 수정하기 / 학원명 과정명 추가하기!!--> 
    <update id="update_userInfo" parameterType="UserAllDTO">
  		update user2 set user_name = #{user_name} 
  					   , user_nickname = #{user_nickname}
  					   , user_logtime = sysdate where user_email = #{user_email} 		  			    
  	</update>
	<!-- //@@@@@@@@@@@@  연수 회원정보 수정창 전면수정(220710) @@@@@@@@@@@@ -->
  	<!-- 회원정보 수정: 이메일 수정 -->
    <update id="update_userEmail" parameterType="java.util.Map">
  		update user2 set user_email = #{user_email}, user_logtime = sysdate where user_id = #{user_id}	  			    
  	</update>

     <!-- 비밀번호 수정: 비밀번호 일치 여부 확인 - 회원정보 불러오기 -->   	
	<select id="checkPwd" parameterType="String" resultType="UserDTO">
        select * from user2 where user_email=#{user_email}
    </select>
    
    <!-- 회원정보 수정: 비밀번호 수정하기 --> 
  	<update id="pwdChangeComplete" parameterType="java.util.Map">
  		update user2 set user_pwd = #{user_pwd} where user_email= #{user_email}
  	</update> 
    <!-- 회원정보 수정 끝  -->
    
    <!-- 회원탈퇴 -->
     <delete id="delete" parameterType="String">
         delete user2 where user_email = #{user_email}
     </delete>
	<!-- ======================== 연수 : 끝(220706) ============================= -->

	
	<!--  ###################### 유진 : 시작  0706###################### -->
	<insert id="user_register" parameterType="UserAllDTO">
		begin
	  		insert into user2(user_id
	  						,user_email
	  						,user_pwd
	  						,user_nickname
	  						,user_name
	  						,user_auth
	  						,user_logtime) 
	  		values(user2_SEQ.nextval
	  			,#{user_email}
	  			,#{user_pwd}
	  			,#{user_nickname}
	  			,#{user_name}
	  			,'Y'
	  			,sysdate);
	  		
	  		insert into class(class_id
	  						, class_class)
	  		values (CLASS_SEQ.nextval
	  				, #{class_class});
	  	end;
  		
  	</insert>

  	<select id="userSignup_emailCheck" parameterType="String" resultType="UserAllDTO">
  		select * from user2 where user_email=#{user_email}
  	</select>
  	
  	<select id="userSignup_nicknameCheck" parameterType="String" resultType="UserAllDTO">
  		select * from user2 where user_nickname=#{user_nickname}
  	</select>	
  	
  	<select id="getUserInformation" parameterType="String" resultType="UserDTO">
  		select * from user2 where user_email=#{user_email}
  	</select>
  	
  	<update id="pwdFindChangeComplete" parameterType="java.util.Map">
  		update user2 set user_pwd = #{user_pwd} where user_email= #{user_email}
  	</update>
  	
  	
  	<select id="findKakao" parameterType="java.util.HashMap" resultType="UserAllDTO">
		select * from user2 where user_name=#{nickname} and user_email=#{email}
	</select>

	<!-- 정보 저장 -->
	<insert id="kakaoInsert" parameterType="java.util.HashMap">
		insert into user2(user_id, user_name, user_email)
			values(user2_SEQ.nextval, #{nickname}, #{email})
	</insert>

	<!-- ####################### 유진 : 끝  0706###################### -->

	<!--  @@@@@@@@@@@@@@ 기진 : 시작  @@@@@@@@@@@@@@-->
	
	<!-- 로그인 -->
	<select id="login" parameterType="String" resultType="UserAllDTO">
		select * from user2 where user_email=#{user_email}
	</select>
	
	
	<!-- @@@@@@@@@@@@@@ 기진 : 끝  @@@@@@@@@@@@@@ -->


	<!-- %%%%%%%%%%%%%%%%%% 풍혁 : 시작  %%%%%%%%%%%%%%%%%% -->
	<select id="getUserIdByEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
		select user_id from user2 where user_email=#{session_email}
	</select>
	
	<select id="getUserNameByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
		select user_nickname from user2 where user_id=${board_uid}
	</select>
	
	
	<!-- %%%%%%%%%%%%%%%%%% 풍혁 : 끝  %%%%%%%%%%%%%%%%%% -->
	
	
	

</mapper>